@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case Problem 3

   WidgetMage Form Styles
   Author: Dajah Medina
   Date:   1.16.19

   Filename: wm_forms.css

*/

/* Field Set Styles */
fieldset {
    border: none;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

legend {
    background-color: rgb(232, 232, 232);
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 0px;
    margin-left: 0px;
}

/* DIV Styles */
div.rangeslider {
    float: left;
    width: 60%;
    margin-bottom: 2px;
    margin-top: 2PX;
    margin-right: 0px;
    margin-left: 0px;
}

/* Control Styles */
label {
    float: left;
}



/* Placeholder Styles */