@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case Problem 3

   WidgetMage Form Styles
   Author: Dajah Medina
   Date:   1.16.19

   Filename: wm_forms.css

*/

/* Field Set Styles */
/* I targeted the fieldsets from the index to set the border and width of each one. I next changed the margins for each side. I then inputed a
legend tag to give it a background color using rgb (hexidecimals). I then gave this a width to strech it 100% and set the margin per each side.
  */
fieldset {
  border: none;
  width: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

legend {
  background-color: rgb(232, 232, 232);
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 0px;
  margin-left: 0px;
}

/* Next, I inputed styles for the divs. I used the tag div with a class of rangeslider to target the multiple ones with the class of this
in the index and gave it a selector and floated them all to the left and set the width and margins.  */
/* DIV Styles */
div.rangeslider {
  float: left;
  width: 60%;
  margin-bottom: 2px;
  margin-top: 2PX;
  margin-right: 0px;
  margin-left: 0px;
}

/* Control Styles */
/* For the control styles I started with a lable tag and gave it a selector and gave it a clear of left by also floating it left and set the width
and the magins. Next i put a tag of lable with an id to target that one specific element in the index and gave a clear and float of left.
Next, for the inputs and selscts indivdualy I set their margins. After that, I put an index with a class of rangeslider agian and gave it a width.
For the select tag I gave it a selector and a display of block for its own individual space. For the next input tag, it also has a selector
to target the typenof color from the index. For the textarea, I gave it a font-size witha width, a height, and a margi set to it. */
label {
  clear: left;
  float: left;
  display: block;
  width: 40%;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 0px;
  margin-right: 0px;
}


label#backgroundcolor {
  clear: left;
  float: left;
}

input#backgroundcolor {
  clear: left;
  float: left;
}




input,
select {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 0px;
  margin-right: 0px;
}

input.rangeslider {
  width: 60%;
}

select {
  display: block;
  float: left;
  width: 120px;
}

input [type="color"] {
  display: block;
  float: left;
  width: 75px;
}

textarea {
  font-size: 1.5em;
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
}


/* Placeholder Styles */
/* In now targeted each extention by using psedo classes for the placeholders to change the background color, the font color, and the font size. */

::placeholder {
  background: rgb(255, 255, 191);
  color: rgb(255, 151, 151);
  font-size: 1.5em;
}

::-webkit-input-placeholder {
  background: rgb(255, 255, 191);
  color: rgb(255, 151, 151);
  font-size: 1.5em;
}

::-moz-placeholder {
  background: rgb(255, 255, 191);
  color: rgb(255, 151, 151);
  font-size: 1.5em;
}

:-ms-input-placeholder {
  background: rgb(255, 255, 191);
  color: rgb(255, 151, 151);
  font-size: 1.5em;
}